@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');

html, body, #r-root {
    min-width: 100%;
    min-height: 667px;
}

#r-root {
    background: #1C2741;
}

#r-here-map {
    width: 100%; 
    /* height: 200px */
}

#r-nav-bar {
    height: 56px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #C1C2C6;
}

#r-story {
    display: flex;
    height: fit-content;
    flex-direction: column;
}

#r-story-img {
    margin: auto;
    margin-top: 10px;
    height: 189;
}

#r-button {
    /* background: linear-gradient(96.81deg, #62349F -22.59%, #D73674 99.29%); */
    color: #ffffff;
    line-height: 28px;
    height: 33px;
    border: 2px solid #FFFFFF;
    border-radius: 16.5px;
    width: fit-content;
    /* position: absolute; */
    /* left: 0;
    right: 0; */
    font-size: 13px;
    margin: auto;
    top: 239px;
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 10px;
}

#r-button-icon {
    margin-right: 5px;
}

#r-title {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: #ffffff;
    font-size: 22px;
    font-weight: normal;
    width: fit-content;
    top: 297px;
    letter-spacing: 0.15em;
}

.r-location-minimarker {
    height: 16px;
    width: 14px;
    margin-right: 10px;
}

#r-address {
    line-height: 22px;
    display: inline-flex;
}

#r-info {
    width: 316px;
    margin: auto;
    padding-top: 32px;
    color: #ffffff;
    font-family: Rubik;
    font-size: 12px;
}

#r-genre {
    display: block;
    float: right;
    line-height: 20px;
    border: 2px solid #D73674;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#r-duration {
    line-height: 22px;
    display: flex;
}

#r-summary {
    color: #C1C2C6;
    font-size: 14px;
    line-height: 20px;
    margin-top: 28px;
}

#r-right-arrow, #r-left-arrow {
    position: absolute;
    top: 221px;
}

#r-right-arrow {
    right: 0;
}

.r-title-gradient {
    color: #ffffff;
    display: flex;
    font-size: 24px;
    line-height: 64px;
    height: 62px;
    width: 100%;
    background: linear-gradient(180deg, rgba(28, 39, 65, 0) 0%, rgba(28, 39, 65, 0.35) 16.09%, rgba(28, 39, 65, 0.7) 34.24%, rgba(28, 39, 65, 0.9) 58.04%, #1C2741 97.38%);
    position: absolute;
    top: 408px;
}

#r-title-center {
    margin: auto;
    display: block;
}

#r-address2 {
    color: #ffffff;
    margin: auto;
    font-size: 12px;
}

#r-starting-container {
    display: flex;
    flex-direction: column;
}

#r-info-container {
    color: #C1C2C6;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    width: 300px;
    height: 42px;
    margin: auto;
    text-align: center;
    margin-top: 24px;
}

#r-infomarker1 {
    margin-right: 10px;
}

#r-start-button {
    margin: auto;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

#r-return {
    position: absolute;
    top: 19px;
    right: 25px;
}



/* ANDREA */

#a-cap-img {
    background-color: #1a82f7;
    background-repeat: repeat-x;
    margin: auto;
    height: 196px;
    width: 375px;
}

#a-title-cap {
    position: absolute;
    color: #C1C2C6;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 45px;
}

hr{
    border-bottom: grey;
    width:313px;
    margin-top: 43px;
}

.a-circulo {
    width: 32px;
    height: 32px;
    /* -moz-border-radius: 50%;
    -webkit-border-radius: 50%; */
    border-radius: 50%;
    background: #D73674;
    color:#1C2741;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 18px;
    float: left;
}

#a-play-stop{
    float: right;
    margin: 5px;

}

#a-play {
    float: right;
    margin: 5px;
}

#a-content {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #C1C2C6;
    font-size: 16px;
    line-height: 22px;
}

#a-info {
    width: 316px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 40px;
    color: #ffffff;
    font-family: Rubik;
    font-size: 12px;
    
}

.a-button {
    background: linear-gradient(96.81deg, #62349F -22.59%, #D73674 99.29%);
    color: #ffffff;
    line-height: 23px;
    height: 46px;
    min-width: 316px;
    border-radius: 28px;
    width: fit-content;
    /* position: absolute;  */
    /* left: 0;
    right: 0; */
    margin-top: 20px;
    margin-inline-end: 10px;
    /* padding-right: 130px;
    padding-left: 130px; */
    font-size: 14px;
    display: flex;
	justify-content: center;
    align-items: center;
}

#a-arrow-down{
    display: flex;
	margin: auto;

}

#r-p-center {
    margin: auto;
    font-size: 20px;
}

#r-center {
    display: flex;
}

#r-initial-logo {
    height: 204px;
    width: 204px;
    margin: auto;
    margin-top: 147px;
    margin-bottom: 54px;
}

#r-initial-name {
    font-size: 22px;
    margin: auto;
    color: #ffffff;
    margin-top: 0;
    /* display: inline-block; */
    /* margin-top: 54px; */
}

#r-initial-bottom-img {
    position: absolute;
    bottom: 0;
}

#r-toclick {
    display: flex;
    height: 667px;
    flex-direction: column;
}

#r-initial-info {
    margin: auto;
    color: #E8E8E8;
    font-size: 16px;
    font-weight: 300;
    height: 29px;
    margin-bottom: 11px;
}

#r-margin-cero {
    margin: 0;
}

#r-subir {
    top: 191px;
}

#first {
    margin: auto;
 
}

.maxwidth {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    margin-top: 10px;
}

#r-question {
    font-size: 16px;
    color: #E8E8E8;
    text-align: center;
}

#r-speaker {
    float: right;
    display: inline;
}