@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

html, body, #r-root {
    min-width: 100%;
    min-height: 100%;
}

#r-root {
    background: #1C2741;
}

#r-here-map {
    width: 100%; 
    height: 200px
}

#r-nav-bar {
    height: 56px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #C1C2C6;
}

#r-story {
    display: flex;
    height: fit-content;
    flex-direction: column;
}

#r-story-img {
    margin: auto;
    margin-top: 10px;
    height: 189;
}

#r-button {
    background: linear-gradient(96.81deg, #62349F -22.59%, #D73674 99.29%);
    color: #ffffff;
    line-height: 33px;
    height: 33px;
    border-radius: 16.5px;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 239px;
    padding-right: 12px;
    padding-left: 12px;
}

#r-title {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    width: fit-content;
    top: 412px;
}

#r-location-minimarker {
    height: 16px;
    width: 14px;
    margin-right: 10px;
}

#r-address {
    line-height: 22px;
    display: inline-flex;
}

#r-info {
    width: 316px;
    margin: auto;
    padding-top: 32px;
    color: #ffffff;
    font-family: Rubik;
    font-size: 12px;
}

#r-genre {
    display: block;
    float: right;
    line-height: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#r-duration {
    line-height: 22px;
    display: flex;
}

#r-summary {
    color: #C1C2C6;
    font-size: 14px;
    line-height: 20px;
    margin-top: 28px;
}